<% provide(:title, "Home") %>

<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="/assets/home1.jpg">
			<div class="container">
				<div class="carousel-caption">
					<h1>A place you can play Trivia, or even create one of your own!</h1>
					<%= link_to "Play Now", games_new_path, class: "btn btn-large btn-primary" %>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/assets/home2.jpg">
			<div class="container">
				<div class="carousel-caption">
					<h1>Ready to be a trivia master? Sign in and conquer our campaigns!</h1>
					<%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/assets/home3.jpg">
			<div class="container">
				<div class="carousel-caption">
					<h1>Create your own private or public trivia for events or celebrations!</h1>
					<%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div> <!--End of the Carousel -->

<div class="container home_module">
	<div class="row">
		<div class="span4">
			<h3>Play Trivia</h3>
			<p>With over 50 questions selected at random, you can just select a category and start playing!</p>
			<a href="" class="btn btn-info">Play Now</a>
		</div>
		<div class="span4">
			<h3>Campaign Mode</h3>
			<p><span>*** Coming Soon ***</span><br/>Create an account with us and keep track of your score, and play conquer a list of challenges that we have created for you!</p>
			<%= link_to "Sign In", signin_path, class: "btn btn-info" %>
		</div>
		<div class="span4">
			<h3>Customize Your Trivia</h3>
			<p><span>*** Coming Soon ***</span><br/>Create an account with us and give you the ability to create your own trivia and share it!  It is perfect for party event and even for teachers in class!</p>
			<%= link_to "Sign In", signin_path, class: "btn btn-info" %>
		</div>
	</div>
</div>