<% provide(:title, 'Profile') %>
<% content_for :javascript do %>
	<script type="text/javascript">
		$(document).ready(function(){
	    $('#myTab a:first').tab('show');
		});
	</script>
<% end %>

<div class="container">
	<div class="row">
		<div class="span4">
			<h3><%= @user.first_name %> <%= @user.last_name %>'s Profile</h3><br/>
			<%= image_tag @user.avatar.url(:thumb), :style => "margin-left: 10px" %><br/><br/>
			<p><b>Email:</b> <%= @user.email %> <%= link_to "Change", edit_user_path(current_user) %></p>
			<p><b>Password</b> <%= link_to "Change", edit_user_path(current_user) %></p>
			<p><b>Member Since:</b> <%= @user.created_at.strftime("%B %d, %Y") %></p>
			<p><b>Number of Games Played:</b> <%= @scores.count %></p>
		</div>
		<div class="span8">
			<h2>Game Analytics</h2>
			<hr>
			<!-- Analytics Table -->
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#scores" data-toggle="tab">Scores</a></li>
				<li><a href="#category" data-toggle="tab">Category</a></li>
				<li><a href="#others" data-toggle="tab">Others</a></li>
			</ul>
			<div class="tab-content">
			  <div class="tab-pane fade active in" id="scores">
			  	<h3>Lifetime Score: <%= @total_correct %>/<%= @total_attempted %>, <%= @average %>% <small><%= @scores.count %> Games</small></h3>
			  	<table class="table table-bordered">
			  		<thead>
			  			<tr>
				  			<th>#</th>
				  			<th>Score</th>
				  			<th>Category</th>
				  			<th>Time</th>
				  		</tr>
			  		</thead>
			  		<tbody>
			  			<% count = 1 %>
			  			<% @scores.each do |s| %>
				  			<tr>
				  				<td><%= count %></td>
				  				<td><%= s.number_correct %>/<%= s.number_attempted %></td>
				  				<% @categories.each do |c| %>
				  					<% if c.id == s.category_id %>
				  						<td><%= c.id %></td>
				  						<% break %>
				  					<% end %>
				  				<% end %>
				  				<td><%= s.created_at %></td>
				  			</tr>
			  				<% count += 1 %>
							<% end %>
			  		</tbody>	
			  	</table>
			  </div> <!-- End of the scores tab in Analytics table -->
				<div class="tab-pane fade" id="category">
			  	<h3><%= @test %></h3>
			  </div> <!-- End of the category tab in Analytics table -->
			  <div class="tab-pane fade" id="others">
			  	<h3>TBD after category</h3>
			  </div> <!-- End of the others tab in Analytics table -->
			</div> <!-- End of the Analytics table -->
	 	</div> <!-- End of span8 -->
	</div> <!-- End of row -->
</div> <!-- End of container -->