<% provide(:title, 'Play Game!') %>
<% content_for :javascript do %>
<script>
$(document).ready(function() {

	var score = 0;
	var index = 0;
	var count = <%= @count %>;

	function outputQuestion() {
		if (index == count) {
			<% if signed_in? %>
				$('#number_correct').val(score);
				$('#number_attempted').val(count);
				$('#user_id').val(<%= current_user.id %>);
				$('#category_id').val(<%= @category_id %>);
				var form = $('#score_form');
				$.post(form.attr('action'), form.serialize(), function() {
				});
			<% end %>
			$('#question_content').empty();
			$('#result').empty();
			$('#question').html("<h3>Final score: " + score + "/" + count + "</h3>");
		} else {
			$('#index').val(index);
			var form = $('#question_form');
			$.post(form.attr('action'), form.serialize(), function(data) {
				$('#question_content').html(data.question.content);
				for (var i = 0; i < 4; i++) {
					var answer = data.answers[i];
					$('#answer_input' + i).val(answer.id);
					$('#answer_content' + i).html(answer.content);
				}
			});
			$('#notification').empty().removeClass("alert alert-success alert-error");
			attachAnswerEvents();
			$('#button_div').empty();
		}
	}

	function attachAnswerEvents() {
		$('.answer').css('opacity', 1);
		$('.answer').on({
			click: function() {
				checkAnswer($(this));
			},
			mouseenter: function() {
				$(this).css({
					opacity: .5,
					cursor: 'pointer'
				});
			},
			mouseleave: function() {
				$(this).css('opacity', 1);
			}
		});
	}

	function checkAnswer(element) {
		$('.answer').off().css('cursor', 'auto');
		var form = element.children();
		$.post(form.attr('action'), form.serialize(), function(data) {
			if (data) {
				score++;
				$('#notification').addClass("alert alert-success");
				$('#notification').html("Correct!");
			} else {
				$('#notification').addClass("alert alert-error");
				$('#notification').html("Wrong Answer!");
			}
		});
		$('#button_div').html("<button id='next' class='btn btn-primary'>Next Question</button>");
		$('#next').click(function() {
			index++;
			outputQuestion();
		});
	}

	outputQuestion();

});
</script>
<% end %>

<div class="container">
	<div class="row">
		<h1 id="game_title" class="span10 offset1"><%= @category %> Trivia Game</h1>
		<h4 id="question_content" class="span4 offset1"></h4>
		<div id="question" class="span4 offset1">
				<form id="question_form" action="/games/get_question" method="post">
					<input type="hidden" name="authenticity_token" value="token_value">
					<input id="index" type="hidden" name="index">
				</form>
				
				<% (0..3).each do |i| %>
					<div class="answer alert alert-info">
						<form action="/games/check_answer" method="post">
							<input type="hidden" name="authenticity_token" value="token_value">
							<input id="answer_input<%= i %>" type="hidden" name="answer">
							<p id="answer_content<%= i %>"></p>
						</form>
					</div>
				<% end %>

				<form id="score_form" action="/games/submit_score" method="post">
					<input type="hidden" name="authenticity_token" value="token_value">
					<input id="number_correct" type="hidden" name="number_correct">
					<input id="number_attempted" type="hidden" name="number_attempted">
					<input id="user_id" type="hidden" name="user_id">
					<input id="category_id" type="hidden" name="category_id">
				</form>
		</div>
		<div id="result" class="span4 offset1">
			<h4 id="notification" class="alert-block"></h4>
			<div id="button_div">
			</div>
		</div>
	</div>
</div>
