<% provide(:title, 'Play Game!') %>
<% content_for :javascript do %>
<script>

$(document).ready(function() {

	var score = 0;
	
	$('.answer').hover(function() {
		$(this).css('opacity', .6);
	}, function() {
		$(this).css('opacity', 1);
	});

	$('.answer').click(function() {
		$(this).parents('div.questions').find('div.answer').off();
		console.log($(this).siblings());
		var form = $(this).parent('form');
		$.post(form.attr('action'), form.serialize(), function(correct_answer) {
			console.log(correct_answer);
			if (correct_answer == 1) {
				$('#notification').html("Correct!");
				score += 1;
			} else{
				$('#notification').html("Wrong Answer!");
			};
  	}, "json");
  	return false;
	});

	var question_index = 0;
	var question_count = <%= @questions.count %>;

	$('.questions').hide();
	$('#question0').show();

	$('#next').click(function() {
		$('.questions').hide();
		$('#notification').html("");
		question_index++;
		if (question_index == question_count) {
			$('#notification').html("Final score is: " + score + "/" + question_count);
		} else {
			var id = "#question" + question_index;
			$(id).show();
		};
	});

});

</script>
<% end %>

<div class="container">
	<div class="row">
		<div class="span8 offset1">
			<h1><%= @category %> Trivia Game</h1>
			<% question_index = 0 %>
			<% @questions.each do |q| %>
				<div id="question<%= question_index %>" class="questions">
					<h3><%= q.content %></h3>
					<% answers = q.answers.order('RANDOM()') %>
					<% answers.each do |a| %>
						<form action="/games/check_answer" method="post">
							<div class="answer alert alert-block alert-info span4" style="cursor: pointer">
								<input type="hidden" name="answer" value=<%= a.id %>>
								<%= a.content %>
							</div>
							<input name="authenticity_token" type="hidden" value="token_value">
						</form>
					<% end %>
				</div>
				<% question_index += 1 %>
			<% end %>
			<h4 id="notification"></h4>
		</div>
		<button id="next" class="btn btn-primary">Next Question</button>
	</div>
</div>
