<% provide(:title, 'Play Game!') %>

<div class="container">
	<div class="row">
		<div class="span8 offset1">
			<h1><%= @category %> Trivia Game</h1>
			<% @questions.each do |q| %>
				<h3><%= q.content %></h3>
				<form action="/games/play" method="post">
					<% answers = q.answers.order('RANDOM()') %>
					<% name = 'a' %>
					<% answers.each do |a| %>
						<input type="radio" name="<%= name %>" value="<%= a.id %>"><%= a.content %></br>
						<% name.next! %>
					<% end %>
					<input name="authenticity_token" type="hidden" value="token_value">
					<input type="submit" class="btn btn-primary">
				</form>
			<% end %>
			<div id="question">
				
			</div>
		</div>
	</div>
</div>
