<% content_for :javascript do %>
<script>
var score = 0;

// function verifyAnswer () {
// 	var x = this.value;
// 	if (x == 1) {
// 		document.getElementById("notification").innerHTML="You are correct!";
// 		score += 1;
// 	} else {
// 		document.getElementById("notification").innerHTML="Ooops wrong answer!";
// 	}
// }

function checkScore () {
	return score;
	document.getElementById("finalscore").innerHTML="Your final score is " + score;
}

$(document).ready(function() {

	var score = 0;

	$('.answer').click(function(){
		var x = $(this).val();
		if (x == 1) {
			$('#notification').html("Correct!");
			score += 1;
		} else {
			$('#notification').html("Wrong Answer!");
		};
	});

	var question_index = 0;
	var question_count = <%= @questions.count %>;

	$('.questions').hide();
	$('#question0').show();

	$('#next').click(function(){
		$('.questions').hide();
		$('#notification').html("");
		question_index++;
		if (question_index == question_count) {
			$('#finalscore').html("Final score is: " + score);
		} else {
			var id = "#question" + question_index;
			$(id).show();
		};
	});

});

</script>
<% end %>

<% provide(:title, 'Play Game!') %>

<div class="container">
	<div class="row">
		<div class="span8 offset1">
			<h1><%= @category %> Trivia Game</h1>
			<% question_index = 0 %>
			<% @questions.each do |q| %>
				<div id="question<%= question_index %>" class="questions">
					<h3><%= q.content %></h3>
					<form>
						<% answers = q.answers.order('RANDOM()') %>
						<% answers.each do |a| %>
							<input class="answer" type="radio" name="answer" value=<%= a.correct %>><%= a.content %></br>
						<% end %>
						<input name="authenticity_token" type="hidden" value="token_value">
					</form>
				</div>
				<% question_index += 1 %>
			<% end %>
			<h4 id="notification"></h4>
			<h4 id="finalscore"></h4>
		</div>
		<button id="next" class="btn btn-primary">Next Question</button>
		</div>
</div>