<% provide(:title, 'Play Game!') %>
<% content_for :javascript do %>
<script>
var score = 0;
function verifyAnswer(id) {
	var x = id.value;
	if (x == 1)
	{
		document.getElementById("notification"+x).innerHTML="You are correct!";
	}
	else
	{
		document.getElementById("notification"+x).innerHTML="Ooops wrong answer!";
	}
}
</script>
<% end %>

<div class="container">
	<div class="row">
		<div class="span8 offset1">
			<h1><%= @category %> Trivia Game</h1>
			<% @questions.each do |q| %>
				<h3><%= q.content %></h3>
				<form action="/games/play" method="post">
					<% answers = q.answers.order('RANDOM()') %>
					<% answers.each do |a| %>
						<input id="answer" type="radio" name="answer" onclick="verifyAnswer(this)" value="<%= a.id %>"><%= a.content %></br>
						<h4 id="notification<%=a.id%>"></h4>
					<% end %>
					<input name="authenticity_token" type="hidden" value="token_value">
					<input type="submit" class="btn btn-primary">
				</form>
			<% end %>
			<div id="question">
				
			</div>
		</div>
	</div>
</div>
