<div class="navbar navbar-inverse">
	<div class="navbar-inner">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "TriviaDojo", root_path, class: "brand" %>
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
      	<ul class="nav">
      		<li class="divider-vertical"></li>
      		<li><%= link_to "Play", games_new_path %></li>
      		<li class="divider-vertical"></li>
      		<li><a href="">Create</a></li>
      		<li class="divider-vertical"></li>
      		<li><a href="">About us</a></li>
      		<li class="divider-vertical"></li>
      		<li><a href="">Contact us</a></li>
      		<li class="divider-vertical"></li>
      		<li><%= link_to "Sign up", signup_path %></li>
      		<li class="divider-vertical"></li>
      	</ul>

        <%= form_for :session, :url => sessions_path, :html => {class: "navbar-form pull-right"} do |f| %>

          <%= f.text_field :email, placeholder: "Email", class: "span2" %>

          <%= f.password_field :password, placeholder: "Password", class: "span2"  %>

          <%= f.submit "Sign in", class: "btn"%>
        <% end %>

      </div>
	</div>
</div>